{% load i18n %}
<nav class="list-group mb-3">
  <a class="list-group-item list-group-item-action" href="{% url 'account_email' %}">{% trans "Change Email" %}</a>
  <a class="list-group-item list-group-item-action" href="{% url 'account_change_password' %}">{% trans "Change Password" %}</a>
  <a class="list-group-item list-group-item-action" href="{% url 'socialaccount_connections' %}">{% trans "Account Connections" %}</a>
  <form class="m-0" method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    <button type="submit" class="list-group-item list-group-item-action text-danger">{% trans "Sign Out" %}</button>
  </form>
</nav>
