{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Sign Up" %}{% endblock %}
{% block content %}
  <section>
    <h1>{% trans "Create an Account" %}</h1>
    <form method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {{ form.non_field_errors }}
      {{ form.as_p }}
      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
      {% endif %}
      <button type="submit">{% trans "Sign Up" %}</button>
    </form>
    <p>
      {% trans "Already have an account?" %} <a href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
    </p>
  </section>
{% endblock %}
