{% load allauth socialaccount i18n %}
{% get_providers as socialaccount_providers %}
{% providers_media_js %}

{% if socialaccount_providers %}
  <div class="d-grid gap-2">
    {% for provider in socialaccount_providers %}
      {% if provider.id == "openid" %}
        {% for brand in provider.get_brands %}
          {% provider_login_url provider openid=brand.openid_url process=process as href %}
          <a class="btn btn-primary btn-auth" href="{{ href }}">{{ brand.name }}</a>
        {% endfor %}
      {% endif %}
      {% provider_login_url provider process=process scope=scope auth_params=auth_params as href %}
      <a class="btn btn-primary btn-auth" href="{{ href }}">
        {% blocktrans with name=provider.name %}Continue with {{ name }}{% endblocktrans %}
      </a>
    {% endfor %}
  </div>
{% endif %}
